{% extends "base.html" %}


{% block app_content %}
<div id="main" class="container">
    <h2>Runs</h2>
    <p></p><p>
    <form method="POST">
    <table id="data" class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Run</th>
          <th>Description</th>
          <th>Date</th>
          <th>QC</th>
          <th>Analysis</th>
          <th>Files</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <button type="submit">Analyze</button>
</div>

{% endblock %}


{% block scripts %}
  {{super()}}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: "{{ url_for('main.allrundata') }}",
        serverSide: true,
        columns: [
          {data: 'id', orderable: false},
          {data: 'run_id'},
          {data: 'description'},
          {data: 'timestamp'},
          {data: 'qc_output', orderable: false},
          {data: 'summary_output', orderable: false},
          {data: 'run_id', orderable: false}
        ],
        "columnDefs": [
          {
            "targets": -1,
            "data": data[1],
            "render": function (data, type, row, meta) {
              let url = "{{ url_for('main.runfiles', username=current_user.username, runname='DATA') }}".replace('DATA', data);
              return '<a href="' + url + '">'+'View'+'</a>';
            }
          },
          {
            "targets": -4,
            "render": function (data, type, row, meta) {
              var tdat = data.split(' ');
              return tdat[0];
            }
          },
          {
            "targets": -2,
            "data": data[1],
            "render": function (data, type, row, meta) {
              if ( data === null ) {
                return '';
              }
              else {
                let url = "{{ url_for('main.runanalysis', username=current_user.username, runname='DATA') }}".replace('DATA', row.run_id);
                let url2 = "{{ url_for('main.runanalysisdown', username=current_user.username, runname='DATA') }}".replace('DATA', row.run_id);
                return '<a href="' + url + '">'+'View'+'</a><a href="' + url2 + '">'+' '+'<img src="/static/icons/download.svg" alt="Bootstrap">'+'</a>';
              }
            }
          },
          {
            "targets": -3,
            "data": data[1],
            "render": function (data, type, row, meta) {
              if ( data === null ) {
                return '';
              }
              else {
                let url = "{{ url_for('main.runqc', username=current_user.username, runname='DATA') }}".replace('DATA', row.run_id);
                let url2 = "{{ url_for('main.runqcdown', username=current_user.username, runname='DATA') }}".replace('DATA', row.run_id);
                return '<a href="' + url + '">'+'View'+'</a><a href="' + url2 + '">'+' '+'<img src="/static/icons/download.svg" alt="Bootstrap">'+'</a>';
              }
            }
          },
          {
            "targets": 0,
            "data": data[0],
            "render": function (data, type, row, meta) {
              return '<input type="checkbox" name="chkbox" onclick="onlyOne(this)" value=' + data + '>'+''+'</a>';
        } }
        ],
          order: [[ 3, 'desc' ]]
      });
    });
  </script>
  <script>
    function DeleteFunction() {
        if (confirm('Are you sure you want to delete this run--this will also delete uploaded raw reads?'))
            return true;
        else {
            return false;
        }
    }
  </script>
  <script>
    function onlyOne(checkbox) {
      var checkboxes = document.getElementsByName('chkbox')
      checkboxes.forEach((item) => {
          if (item !== checkbox) item.checked = false
      })
    }
  </script>
{% endblock %}
