{% extends "base.html" %}

{% block app_content %}
<div id="main" class="container">
    <h2>Files</h2>
    <!--<h4><a href="{{ url_for('main.run', username=current_user.username) }}">Download All </a></h4>-->
    <table id="data" class="table table-striped">
      <caption>Download run</caption>
      <thead>
      <tr>
        <th>File</th>
        <th>Download</th>
       </tr>
       </thead>
      <tbody>
        {% for sample in samples  %}
          <tr>
            <td>{{ sample }}</td>
            <td><a href="{{ url_for('main.filedownload', username=current_user.username, runname=runname, file=sample) }}">Download</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
