{% extends "base.html" %}

{% block app_content %}
<div id="main" class="container">
    <h2>Samples</h2>
    <table id="data" class="table table-striped">
      <thead>
      <tr>
        <th>Sample</th>
        <th>Host</th>
        <th>Analysis</th>
        <th></th>
       </tr>
       </thead>
      <tbody>
        {% for sample in samples %}
          <tr>
            <td>{{ sample.sample_id }}</td>
            <td data-name="host" class="host" data-type="text" data-pk="{{sample.id}}">{{sample.host}}</td>
            <td><{{ Placeholder }}</td>
            <td><</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
  {{super()}}
    <script>
    $(document).ready(function() {
      var dataTable = $('#data').DataTable({
         columns: [
           null,
           null,
           {orderable: false},
           {orderable: false}],
         });
      $('#data').editable({
        container:'body',
        selector:'td.host',
        url:"{{ url_for('main.updatesample', username=current_user.username) }}",
        title:'Host',
        type:'POST',
        validate:function(value){
            if($.trim(value) == '')
            {
                return 'This field is required';
            }
        }
      });
    });
    </script>
{% endblock %}
