{% extends "base.html" %}

{% block app_content %}
<div id="main" class="container">
    <h2>Samples</h2>
    <table id="data" class="table table-striped">
      <thead>
      <tr>
        <th>Sample</th>
        <th>Host</th>
        <th>Analysis</th>
        <th></th>
       </tr>
       </thead>
      <tbody>
        {% for sample in samples %}
          <tr>
            <td>{{ sample.sample_id }}</td>
            <td>{{ sample.host }}</td>
            <td><{{ Placeholder }}</td>
            <td><</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
  {{super()}}
    <script>
    $(document).ready(function() {
      $('#data').DataTable({
         columns: [
           null,
           null,
           {orderable: false},
           {orderable: false}],
         });
    });
    </script>
{% endblock %}
