{% extends "base.html" %}

{% block app_content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plupload.full.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.plupload.queue.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/jquery.plupload.queue.css') }}" media="screen" />
    <title>Run upload</title>
  </head>

  <body>
    <div id="uploader">
        <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
    </div>

    <script type="text/javascript">
    // Initialize the widget when the DOM is ready
        $("#uploader").pluploadQueue({
            // General settings
            runtimes : 'html5,flash,silverlight,html4',
            url : "{{ url_for('main.uploadrun', runname=runname, username=current_user.username) }}",

            chunk_size : '100mb',
            rename : true,
            dragdrop: true,

            filters : {
                // Maximum file size
                max_file_size : '10gb',
                // Specify what files to browse for
                mime_types: [
                    {title : "fastq files", extensions : "fastq,fq"},
                    {title : "Gzip files", extensions : "gz"}
                ]
            },
            init : {
              UploadComplete: function(up, files) {
                // Fired when queue is complete
                location.href = "{{ url_for('main.browsemyruns', username=current_user.username) }}";
              }
            },

        });
    </script>
  </body>
</html>
{% endblock %}
